<div class="cart-box">
  {% for variant in product.variants %}
    <input type="hidden" id="getVariantId" value="{{ variant.id }}}">
  {% endfor -%}
  <button class="btn btn-success cart-btn w-100" id="card-product-id-{{ product.id }}">Add To Cart</button>
</div>

<script>
  $(document).ready(function(){

    $('#card-product-id-{{ product.id }}').on('click', function(){

      var variantId = $(this).closest('.cart-box').find('#getVariantId').value
        alert(variantId)
    })

  })
</script>
