<div class="cart-box">
  {% for variant in product.variants %}
    <input
      type="hidden"
      id="getVariantId"
      value="{{ variant.id }}"
    >
  {% endfor -%}
  <button class="btn btn-success cart-btn w-100" id="card-product-id-{{ product.id }}">Add To Cart</button>
</div>

<script>
  $(document).ready(function(){

    $('#card-product-id-{{ product.id }}').on('click', function(){

      var variantId = $(this).parents('.cart-box').find('#getVariantId').val();

      console.log(variantId)

      let formObj = {
        quantity:1,
        id: variantId
      }

      $.ajax({
        type:"POST",
        url: "/cart/add.js",
        cache:false,
        data:formObj,
        dataType: "json",
        success: function(data){
          console.log('success');

        $('cart-drawer').removeClass('is-empty');
        $('.drawer__inner-empty').hide();
        $('#cart-icon-bubble').load(location.href + '#cart-icon-bubble')
        },
        error: function(xhr, ajazOption, thrownError){
          console.log(error)
        }
      })

    })

  })
</script>
