<div class="cart-box">
  {% for variant in product.variants %}
    <input type="hidden" id="getVariantId" value="{{ variant.id }}}">
  {% endfor -%}
  <button class="btn btn-success w-100" id="card-product-id-{{ product.id }}">Add To Cart</button>
</div>
