<div class="custom-heading">
  <h2>{{ block.settings.heading }}</h2>
</div>

{% schema %}
{
  "name": "Custom Heading",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Aapka Naam",
      "label": "Heading"
    }
  ]
}
{% endschema %}
