<section class="home-header">
  <div class="custom-header">
    <div class="banner-img">
      <img src="{{ section.settings.wake-banner-img | image_url: master  }}" alt="Shop Wakeboards">
    </div>
    <div class="header-content">
      <h2 class="mb-4 mb-sm-3 mb-lg-5">WAKEBOARDS</h2>
      <p class="mb-4 mb-sm-3 mb-lg-5 header-btn">
        <a href="/product/category/Wakeboards">{{ section.settings.wake-banner-heading }}</a>
      </p>
      <p class="text-center header-text">{{ section.settings.wake-banner-description }}</p>
    </div>
  </div>

</section>

{% schema %}

  {
    "name": "Wake Featured Bnner",
    "settings": [
      {
        "type": "image_picker",
        "id": "wake-banner-img",
        "label": "Wake Banner Image"
      },
      {
        "type": "text",
        "id": "wake-banner-heading",
        "label": "Wake Banner Heading"
      },
      {
        "type": "text",
        "id": "wake-banner-description",
        "label": "Wake Banner Description"
      }
    ],
    "presets": [
      {
        "name": "Wake Featured Bnner"
      }
    ]
  }

{% endschema %}