<section class="logo-sec">
  <div class="log-box">
    <div class="log-box-item">
      <img src="https://buywakeworks.com/assets/images/icons/phase5_logo.webp" alt="">
    </div>

    <div class="log-box-item">
      <img src="https://buywakeworks.com/assets/images/icons/phase5_logo.webp" alt="">
    </div>

    <div class="log-box-item">
      <img src="https://buywakeworks.com/assets/images/icons/phase5_logo.webp" alt="">
    </div>

    <div class="log-box-item">
      <img src="https://buywakeworks.com/assets/images/icons/phase5_logo.webp" alt="">
    </div>

    <div class="log-box-item">
      <img src="https://buywakeworks.com/assets/images/icons/phase5_logo.webp" alt="">
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Wake Product logo",
  "settings": [
    {
      "type": "image_picker",
      "id": "product-logo-1",
      "label": "Product Logo"
    },
    {
      "type": "image_picker",
      "id": "product-logo-2",
      "label": "Product Logo"
    },
    {
      "type": "image_picker",
      "id": "product-logo-3",
      "label": "Product Logo"
    },
    {
      "type": "image_picker",
      "id": "product-logo-4",
      "label": "Product Logo"
    },
    {
      "type": "image_picker",
      "id": "product-logo-5",
      "label": "Product Logo"
    },
  ],
  "presets": [
    {
      "name": "Wake Product logo"
    }
  ]
}
{% endschema %}
