<section class="logo-sec">
  <div class="log-box">
    <div class="log-box-item">
      <img src="https://buywakeworks.com/assets/images/icons/phase5_logo.webp" alt="">
    </div>

    <div class="log-box-item">
      <img src="https://buywakeworks.com/assets/images/icons/phase5_logo.webp" alt="">
    </div>

    <div class="log-box-item">
      <img src="https://buywakeworks.com/assets/images/icons/phase5_logo.webp" alt="">
    </div>

    <div class="log-box-item">
      <img src="https://buywakeworks.com/assets/images/icons/phase5_logo.webp" alt="">
    </div>

    <div class="log-box-item">
      <img src="https://buywakeworks.com/assets/images/icons/phase5_logo.webp" alt="">
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Section name",
  "settings": [],
  "presets": [
    {
      "name": "Wake Product logo"
    }
  ]
}
{% endschema %}
