
<section class="wake-product-featured-sec">
    <div class="product-featured-heading">
        <h3>SHOP BY CATEGORY</h3>
    </div>

    <div class="product-featured-box">
        <div class="product-featured-card">
            <a href="">
                <div class="product-featured-card-img">
                    <img src="https://buywakeworks.com/assets/images/Featured-imgs/featured-img-1.png" alt="">
                </div>

                <div class="product-featured-card-content">
                    <h5>GEAR</h5>
                    <p class="product-featured-card-description">Get ready with essential safety and performance gear, featuring helmets for protection, gloves for grip, and waterproof bags for your essentials.</p>
                </div>

            </a>
        </div>

        <div class="product-featured-card">
            <a href="">
                <div class="product-featured-card-img">
                    <img src="https://buywakeworks.com/assets/images/Featured-imgs/featured-img-1.png" alt="">
                </div>

                <div class="product-featured-card-content">
                    <h5>GEAR</h5>
                    <p class="product-featured-card-description">Get ready with essential safety and performance gear, featuring helmets for protection, gloves for grip, and waterproof bags for your essentials.</p>
                </div>

            </a>
        </div>

        <div class="product-featured-card">
            <a href="">
                <div class="product-featured-card-img">
                    <img src="https://buywakeworks.com/assets/images/Featured-imgs/featured-img-1.png" alt="">
                </div>

                <div class="product-featured-card-content">
                    <h5>GEAR</h5>
                    <p class="product-featured-card-description">Get ready with essential safety and performance gear, featuring helmets for protection, gloves for grip, and waterproof bags for your essentials.</p>
                </div>

            </a>
        </div>

        <div class="product-featured-card">
            <a href="">
                <div class="product-featured-card-img">
                    <img src="https://buywakeworks.com/assets/images/Featured-imgs/featured-img-1.png" alt="">
                </div>

                <div class="product-featured-card-content">
                    <h5>GEAR</h5>
                    <p class="product-featured-card-description">Get ready with essential safety and performance gear, featuring helmets for protection, gloves for grip, and waterproof bags for your essentials.</p>
                </div>

            </a>
        </div>
    </div>

</section>


{% schema %}
  {
    "name": "Wake Featured Product",
    "settings": [],
    "presets": [
      {
        "name": "Wake Featured Product"
}
    ]
  }
{% endschema %}