<footer>
  <div class="container-fluid bg-footer px-3 p-md-5">
    <div class="row">
      <div class="col-12 col-md-11 m-auto">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 pr-4 mb-md-5 mb-lg-0">
              <div class="footer-logo">
                <a href="/"><img src="/assets/images/logos/Online-Logo 1.png" alt=""></a>
              </div>
              <p class="footer-text my-5 pe-5">
                Explore Wake Works top-notch foiling, wakeboarding, wakesurfing, and water sport equipment. Our
                extensive range includes the latest gear, boards, and accessories, ensuring you find everything for your
                water adventures. From high-quality foils, wakeboards to durable inflatables, our expertly curated
                selection is perfect for both beginners and pros. Shop now for the best in water sports, backed by our
                commitment to quality and customer satisfaction.
              </p>
            </div>
            <div class="col-lg-3 px-4 mb-4 mb-lg-0">
              <h2 class="footer-text footer-top-h">SHOP</h2>
              <ul class="footer-list">
                <li>
                  <div class="toggler-footer footer-toggle-menu">
                    <a href="javascript:(void)" class="bold-font">Wake</a>
                    <i class="fa fa-plus"></i>
                  </div>
                  <div class="main-nav-content">
                    <ul class="inner-nav-list">
                      <li>
                        <a href="/product/category/Boys Wakeboards,Girls Wakeboards,Mens Wakeboards,Womens Wakeboards"
                          >Wakeboards</a
                        >
                      </li>
                      <li><a href="/product/category/Wakeboard Packages">Wakeboard Packages</a></li>
                      <li>
                        <a href="/product/category/Boys Wakeboard Bindings,Girls Wakeboard Bindings,Mens Wakeboard Bindings,Womens Wakeboard Bindings"
                          >Wakeboard Bindings</a
                        >
                      </li>
                      <li>
                        <a href="/product/category/Wakeboard Ropes &amp; Handles">Wakeboard Ropes &amp; Handles</a>
                      </li>
                      <li>
                        <a href="/product/category/Wakeboard Bags &amp; Acc.">Wakeboard Bags &amp; Accessories</a>
                      </li>
                      <li><a href="/product/category/WakeSurf">Wakesurf</a></li>
                      <li>
                        <a href="/product/category/Kids WakeSurf Boards,Mens WakeSurf Boards,Womens WakeSurf Boards"
                          >Wakesurfs</a
                        >
                      </li>
                      <li><a href="/product/category/WakeSurf Ropes &amp; Handles">Wakesurf Ropes &amp; Handles</a></li>
                      <li><a href="/product/category/WakeSurf Bags &amp; Acc.">Wakesurf Bags &amp; Accessories</a></li>
                      <li><a href="/product/category/Water Skis">Water Ski</a></li>
                      <li><a href="/product/category/Mens Water Skis,Womens Water Skis">Water Skis</a></li>
                      <li>
                        <a href="/product/category/Womens Water Ski Binding,Mens Water Ski Bindings"
                          >Water Ski Bindings</a
                        >
                      </li>
                      <li><a href="/product/category/Water Ski Combos">Water Ski Combos</a></li>
                      <li>
                        <a href="/product/category/Water Ski Ropes &amp; Handles">Water Ski Ropes &amp; Handles</a>
                      </li>
                      <li><a href="/product/category/Water Ski Packages">Water Ski Packages</a></li>
                      <li><a href="/product/category/Wake Skates">Water Saket</a></li>
                      <li><a href="/product/category/Womens Wake Skate,Mens Wake Skate">Water Saket's</a></li>
                      <li><a href="/product/category/Kneeboard">Kneeboards</a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <div class="toggler-footer footer-toggle-menu">
                    <a href="javascript:(void)" class="bold-font">Foils</a>
                    <i class="fa fa-plus"></i>
                  </div>

                  <div class="main-nav-content">
                    <ul class="inner-nav-list">
                      <li><a href="/product/category/Wake Foils">Wake Foil</a></li>
                      <li><a href="/product/category/Wake Foil Board Only">Wake Foil Boards</a></li>
                      <li><a href="/product/category/Wake Foil Sets">Wake Foil Sets</a></li>
                      <li><a href="/product/category/Wake Foil Packages">Wake Foil Packages</a></li>
                      <li><a href="/product/category/Wake Foil Accessories">Wake Foil Accessories</a></li>
                      <li><a href="/product/category/Wake Foils">All Brands</a></li>
                      <li><a href="/product/category/Wake Foils/HYPERLITE">Hyperlite</a></li>
                      <li><a href="/product/category/Wake Foils/RONIX">Ronix</a></li>
                      <li><a href="/product/category/Wake Foils/LIQUID FORCE">Liquid Force</a></li>
                      <li><a href="/product/category/Wake Foils/ARMSTRONG">Armstrong</a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <div class="toggler-footer footer-toggle-menu">
                    <a href="javascript:(void)" class="bold-font">Gear</a>
                    <i class="fa fa-plus"></i>
                  </div>

                  <div class="main-nav-content">
                    <ul class="inner-nav-list">
                      <li><a href="/product/category/Womens Comp Vests, Womens CGA Vests">Women's Life Jackets</a></li>
                      <li><a href="/product/category/Mens CGA Vests, Mens Comp Vests">Men's Life Jackets</a></li>
                      <li><a href="/product/category/Girls CGA Vests,Boys CGA Vests">Kids Life Jackets</a></li>
                      <li><a href="/product/category/Wetsuits">Wetsuits</a></li>
                      <li><a href="/product/category/Mens Wetsuits">Men's Wetsuits</a></li>
                      <li><a href="/product/category/Womens Wetsuits">Women's Wetsuits</a></li>
                      <li><a href="/product/category/Kids Wetsuits">Kid's Wetsuits</a></li>
                      <li>
                        <a href="/product/category/Mens%20Tops%20%26%20Shirts%2CMens%20Tank%20Tops%2CMens%20Base%20Layers%2CMens%20Hoodies%20%26%20Sweatshirts%2CMens%20Vests%2CMens%20Pants%2CMens%20Shorts%2CMens%20Boardshorts%2CMens%20Rashguards%2CMens%20Boardshorts%2CMens%20Hats%2FBelts%2FAcc."
                          >Men's Apparel</a
                        >
                      </li>
                      <li>
                        <a href="/product/category/Womens%20Tops%20%26%20Shirts%2CWomens%20Tank%20Tops%2CWomens%20Hoodies%20%26%20Sweatshirts%2CWomens%20Base%20Layers%2CWomens%20Vests%2CWomens%20Pants%2CWomens%20Shorts%2CWomens%20Rashguards%2CWomens%20Bikinis%2CWomens%20One-Piece%20Swimsuits%2CWomens%20Beach%20Cover%20Ups%2CWomens%20Boardshorts%2CWomens%20Hats%2FBelts%2FAccessories"
                          >Women's Apparel</a
                        >
                      </li>
                      <li><a href="/product/category/Sunglasses">Sunglasses</a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <div class="toggler-footer footer-toggle-menu">
                    <a href="javascript:(void)" class="bold-font">Tubes &amp; Inflatables</a>
                    <i class="fa fa-plus"></i>
                  </div>

                  <div class="main-nav-content">
                    <ul class="inner-nav-list">
                      <li><a href="/product/category/Towables &amp; Inflatables">Inflatables</a></li>
                      <li><a href="/product/category/Towables,Inflatables">Tubes</a></li>
                      <li><a href="/product/category/Towable Ropes &amp; Acc.">Tube Accessories</a></li>
                      <li><a href="/product/category/SUP,SUP Parts &amp; Acc">SUP's</a></li>
                      <li><a href="/product/category/SUP">Inflatable SUP's</a></li>
                      <li><a href="/product/category/SUP Parts &amp; Acc">SUP Accessories</a></li>
                      <li><a href="/product/category/Kayak Parts &amp; Acc,Single Kayak,Tandum Kayak">Kayaks</a></li>
                      <li><a href="/product/category/Single Kayak">Single Kayaks</a></li>
                      <li><a href="/product/category/Tandum Kayak">Tandem Kayaks</a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <div class="toggler-footer footer-toggle-menu">
                    <a href="javascript:(void)" class="bold-font">Boat Accessories</a>
                    <i class="fa fa-plus"></i>
                  </div>
                  <div class="main-nav-content">
                    <ul class="inner-nav-list">
                      <li><a href="/product/category/Anchors">Anchoring</a></li>
                      <li><a href="/product/category/Boat Fenders">Boat Fenders</a></li>
                      <li><a href="/product/category/Dock Line">Dock Lines</a></li>
                      <li><a href="/product/category/ELECTRICAL">Electrical</a></li>
                      <li><a href="/product/category/ENGINE PARTS">Engine Parts</a></li>
                      <li><a href="/product/category/MARINE MAINTENANCE">Maintenance</a></li>
                      <li><a href="/product/category/MARINE EXHAUST SYSTEMS">Marine Exhaust Systems</a></li>
                      <li><a href="/product/category/MARINE FUEL SYSTEMS">Marine Fuel Systems</a></li>
                      <li><a href="/product/category/LIGHTIING">Lighting</a></li>
                      <li><a href="/product/category/Ballast">Ballast</a></li>
                      <li><a href="/product/category/TOWERS RACKS AND MIRRORS">Racks and Mirrors</a></li>
                      <li><a href="/product/category/TRAILER PARTS">Trailer Parts</a></li>
                      <li><a href="/product/category/CLEANING SUPPLIES">Cleaning Supplies</a></li>
                      <li><a href="/product/category/BOAT COVERS">Boat Covers</a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <div class="toggler-footer footer-toggle-menu">
                    <a href="javascript:(void)" class="bold-font">Winter</a>
                    <i class="fa fa-plus"></i>
                  </div>
                  <div class="main-nav-content">
                    <ul class="inner-nav-list">
                      <li><a href="javascript:(void)" class="item-heading">Downhill Skiing</a></li>
                      <li><a href="/product/category/Girls Skis">Girls Skis</a></li>
                      <li><a href="/product/category/Boys Skis">Boys Skis</a></li>
                      <li><a href="/product/category/Womens Skis">Womens Skis</a></li>
                      <li><a href="/product/category/Mens Skis">Mens Skis</a></li>
                      <li><a href="/product/category/Girls Ski Boots">Girls Ski Boots</a></li>
                      <li><a href="/product/category/Boys Ski Boots">Boys Ski Boots</a></li>
                      <li><a href="/product/category/Womens Ski Boots">Womens Ski Boots</a></li>
                      <li><a href="/product/category/Mens Ski Boots">Mens Ski Boots</a></li>
                      <li><a href="/product/category/Mens Bindings">Mens Bindings</a></li>
                      <li><a href="/product/category/Womens Bindings">Womens Bindings</a></li>
                      <li><a href="/product/category/Youth Bindings">Youth Bindings</a></li>

                      <li><a href="javascript:(void)" class="item-heading">Outerwear</a></li>
                      <li><a href="/product/category/Mens Jackets,Mens Snow Pants">Mens Outerwear</a></li>
                      <li><a href="/product/category/Womens Jackets,Womens Snow Pants">Women's Outerwear</a></li>
                      <li><a href="/product/category/Gloves%2FMittens">Gloves/Mittens</a></li>
                      <li><a href="/product/category/Goggles">Goggles</a></li>

                      <li>
                        <a
                          href="/product/price/Snowboarding,Downhill%20Skiing,Adult%20Outerwear/price5"
                          class="item-heading"
                          >Sale</a
                        >
                      </li>
                      <li><a href="/product/price/Snowboarding/price5">Snowboards</a></li>
                      <li><a href="/product/price/Downhill Skiing/price5">Ski</a></li>
                      <li><a href="/product/price/Adult Outerwear/price5">Outerwear</a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <div class="toggler-footer footer-toggle-menu">
                    <a href="javascript:(void)" class="bold-font">SALE</a>
                    <i class="fa fa-plus"></i>
                  </div>
                  <div class="main-nav-content">
                    <ul class="inner-nav-list">
                      <li><a href="/product/price/Wakeboards/price5">Wakeboards</a></li>
                      <li><a href="/product/price/WakeSurf/price5">Wakesurfs</a></li>
                      <li><a href="/product/price/Wake Foils/price5">Foils</a></li>
                      <li>
                        <a href="/product/price/Womens Comp Vests,Womens CGA Vests,Mens CGA Vests,Mens Comp Vests,Girls CGA Vests,Boys CGA Vests/price5"
                          >Life Jackets &amp; Comp Vests</a
                        >
                      </li>
                      <li><a href="/product/price/Wetsuits/price5">Wetsuits</a></li>
                      <li><a href="javascript:(void)">Apparel</a></li>
                      <li><a href="/product/price/Inflatables/price5">Inflatables</a></li>
                      <li><a href="/product/category/Blem">Blem</a></li>
                      <li><a href="/product/category/Foil Blems">Foil Blems</a></li>
                      <li><a href="/product/category/Wakeboard Blems">Wakeboard Blems</a></li>
                      <li><a href="/product/category/Wakesurf Blems">Wakesurf Blems</a></li>
                      <li><a href="/product/category/Water Ski Blems">Water Ski Blems</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-lg-3 px-4 mb-4 mb-lg-0">
              <h2 class="footer-text footer-top-h">BOATS</h2>
              <ul class="footer-list">
                <li>
                  <a href="https://idahowatersports.com/boats?condition=New&amp;" class="footer-text" target="_blank"
                    >New Boats For Sale</a
                  >
                </li>
                <li>
                  <a href="https://idahowatersports.com/boats?condition=Used" class="footer-text" target="_blank"
                    >Used Boats For Sale</a
                  >
                </li>
                <li>
                  <a href="https://idahowatersports.com/docking" class="footer-text" target="_blank">Boat Docks</a>
                </li>
                <li>
                  <a href="https://idahowatersports.com/storage" class="footer-text" target="_blank">Boat Storage</a>
                </li>
                <li>
                  <a href="https://idahowatersports.com/service" class="footer-text" target="_blank"
                    >Boat Service &amp; Maintenance</a
                  >
                </li>
              </ul>
            </div>
            <div class="col-lg-3 px-4 mb-4 mb-lg-0">
              <h2 class="footer-text footer-top-h">ACCOUNT</h2>
              <ul class="footer-list">
                <li>
                  <div class="cart-btn-view p-1 accoutItemContainer">
                    <div class="cart_btn_box">
                      <a
                        style="color: black;font-weight: 600;text-decoration: none;"
                        class="d-flex cart_btn"
                        href="javascript:(void)"
                      >
                        <span><span class="word_cart">CART</span>(<span class="cart-count">0</span>)</span>
                      </a>
                    </div>

                    <div class="cart_btn_box">
                      <a
                        style="color: black;font-weight: 600;text-decoration: none;"
                        href="/return-policy"
                        class="footer-text footer-link"
                        >Returns</a
                      >
                    </div>

                    <div class="cart_btn_box">
                      <a
                        style="color: black;font-weight: 600;text-decoration: none;"
                        href="/contact"
                        class="footer-text footer-link"
                        >Contact Us</a
                      >
                    </div>
                  </div>

                  <div class="footer-icons-sec">
                    <div class="footer-social-cons">
                      <a target="_blank" href="https://www.facebook.com/idahowatersports/?ref=tn_tnmn"
                        ><i class="fab fa-facebook"></i
                      ></a>
                    </div>
                    <div class="footer-social-cons">
                      <a target="_blank" href="https://www.youtube.com/channel/UCnM4FoQ8XhyXmWpx_txAcCg"
                        ><i class="fab fa-youtube"></i
                      ></a>
                    </div>
                    <div class="footer-social-cons">
                      <a target="_blank" href="https://www.instagram.com/idahowatersports/"
                        ><i class="fab fa-instagram"></i
                      ></a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-footer-end py-3">
    <div class="row mx-0">
      <div class="col-11 m-auto px-5">
        <div class="footer-end">
          <p class="footer-text">2024 Copyright Buy Wake Works | <a href="/page/privacy_policy">Privacy Policy</a></p>
          <p class="footer-text"><a href="https://mdsbrand.com/" target="_blank">Powered by MDS Brand</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Section name",
  "settings": []
}
{% endschema %}
