<style>
          .return-lg-heading {
            color: #000;
            font-size: 30px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            letter-spacing: 0.9px;
            text-transform: uppercase;
            margin: 40px 0px;
        }
        p {
          color: #000;
          font-family: Lato;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 30px;
          letter-spacing: 0.48px;
      }
      .return-title-heading {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.6px;
        margin-top: 30px;
    }
    .return-input-box {
      display: block;
      color: #989898;
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.42px;
      border-radius: 5px;
      border: 1px solid #c0c0c0;
      outline: none;
      padding: 16px;
      background: #fff;
      width: 100%;
      margin: 16px 0px;
  }
</style>

<div class="container">
  <h1 class="return-lg-heading">Returns</h1>
  <!-- buy wake works policy -->
  <div>
    <h3 class="return-lg-title">BuyWakeWorks Return Policy</h3>
    <p>
      At BuyWakeWorks, we strive for customer satisfaction and are here to assist with your return or exchange. Please
      review our return policy below:
    </p>
  </div>
  <!-- return and exchange request policy -->
  <div>
    <h3 class="return-title-heading">Return and Exchange Requests</h3>
    <p>If you need to return or exchange an item, you must make your request within 15 days of your purchase date.</p>
  </div>
  <!-- intializing return or exhance policy -->
  <div>
    <h3 class="return-title-heading">Initiating a Return or Exchange</h3>
    <p>
      To start the return or exchange process, email our customer service team at IdahoFallsProshop@idahowatersports.com
      to obtain a Return Merchandise Authorization (RMA) number. Returns will not be accepted without an RMA number.
      Items must be unused, unwashed, and in their original packaging to be eligible for return or exchange.
    </p>
  </div>
  <!-- address section -->
  <div>
    <h3 class="return-title-heading">Return Address</h3>
    <p>Once you have received your RMA number, send your item(s) to the address below:</p>
    <address class="mt-4">
      BuyWakeWorks <br>
      Attention: Returns <br>
      3020 Outlet Blvd. <br>
      Idaho Falls ID 83402
    </address>
  </div>
  <!-- important return instructions -->
  <div>
    <h3 class="return-title-heading">Important Return Instructions</h3>
    <ul class="mt-4">
      <li>Include the original packing slip, which serves as your receipt.</li>
      <li>For exchanges, specify the item you wish to receive for quicker processing.</li>
      <li>
        Use a traceable shipping method such as USPS, UPS, FedEx, or DHL. We are not responsible for lost, stolen, or
        damaged return shipments, or if a non-traceable carrier is used.
      </li>
      <li>We do not accept C.O.D. shipments, and customers are responsible for return shipping costs.</li>
    </ul>
  </div>
  <!-- processing time -->
  <div>
    <h3 class="return-title-heading">Processing Time</h3>
    <p>
      Returns and exchanges are generally processed within 2-3 business days upon receipt of the item(s). However,
      during peak season, processing may take up to 5 business days.
    </p>
  </div>
  <!-- refunds -->
  <div>
    <h3 class="return-title-heading">Refunds</h3>
    <p>
      Once we receive your returned item(s), the cost of the item(s) and any applicable tax will be credited back to the
      original payment method. Please note that original outbound shipping charges are non-refundable.
    </p>
  </div>
  <!-- exchanges -->
  <div>
    <h3 class="return-title-heading">Exchanges</h3>
    <p>
      Upon receiving your item for exchange, we will process your request and cover the return shipping cost (standard
      ground service) back to you. If the item(s) requested for exchange is out of stock, our customer service team will
      contact you to discuss alternative options.
    </p>
  </div>
  <p>
    Thank you for shopping with BuyWakeWorks! If you have any questions or need further assistance, please contact our
    customer service team at
    <br>
    IdahoFallsProshop@idahowatersports.com.
  </p>

  <hr class="my-5">

  <!-- form section -->
  <section class="formSection">
    <div class="row">
      <div class="col-lg-5">
        <h3 class="return-title-heading mt-2">START YOUR RETURN</h3>
        <div>
          <input type="text" placeholder="First Name" name="fname" id="fname" class="return-input-box">
          <input type="text" placeholder="Last Name" name="lname" id="lname" class="return-input-box">
          <input type="email" name="email" id="email" placeholder="Email" class="return-input-box">
          <input type="text" name="order" placeholder="Order #" id="order" class="return-input-box">

          <div>
            <div
              class="grecaptcha-badge"
              data-style="bottomright"
              style="width: 256px; height: 60px; display: block; transition: right 0.3s; position: fixed; bottom: 14px; right: -186px; box-shadow: gray 0px 0px 5px; border-radius: 2px; overflow: hidden;"
            >
              <div class="grecaptcha-logo">
                <iframe
                  title="reCAPTCHA"
                  width="256"
                  height="60"
                  role="presentation"
                  name="a-4lce4px2tpxo"
                  frameborder="0"
                  scrolling="no"
                  sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation"
                  src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LcbyicqAAAAANIp3yY9N8DKUelPsrWnhQLJYaRa&amp;co=aHR0cHM6Ly9idXl3YWtld29ya3MuY29tOjQ0Mw..&amp;hl=en&amp;v=rW64dpMGAGrjU7JJQr9xxPl8&amp;size=invisible&amp;sa=submit&amp;cb=rbxsqle7n421"
                ></iframe>
              </div>
              <div class="grecaptcha-error"></div>
              <textarea
                id="g-recaptcha-response"
                name="g-recaptcha-response"
                class="g-recaptcha-response"
                style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"
              ></textarea>
            </div>
            <iframe style="display: none;"></iframe>
          </div>
          <button
            class="my-5 return-form-btn g-recaptcha"
            data-sitekey="6LcbyicqAAAAANIp3yY9N8DKUelPsrWnhQLJYaRa"
            data-callback="return_policy_form"
            data-action="submit"
          >
            SUBMIT
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
